<% index = 0 %>

<% 3.times do %>
    <div class="row">
        <% 3.times do %>
            <span>
                <% if @game.board[index].present? %>
                    <%= @game.board[index] %>
                <% else %>
                    <%= button_to "", 
                        game_move_index_path(@game),
                        params: {index: index},
                        form: {style: 'display:inline-block;'} %>
                <% end %>

                <% index += 1 %>
            </span>
        <% end %>
    </div>
<% end %>

<% if @game.state_label %>
 <%= @game.state_label %>
<% end %>



